{#
/**
 * @file
 * Template for the contact page.
 *
 * Available variables:
 * - email: Email address
 * - phone: Phone number
 * - address: Physical address
 * - hours: Business hours array
 */
#}

<div class="contact-page mt-50">
  <div class="contact-wrapper gg-container grid grid-cols-2 gap-20">
    <div class="contact-box bg-white shadow-[0_4px_10px_rgba(0,0,0,0.1)] flex flex-col items-center justify-center p-30">
      <div class="box  shadow-[0_4px_10px_rgba(0,0,0,0.1)] p-20 rounded-[15px]">
        <h1 class="text-xlarge font-bold text-black mb-15">Στοιχεία επικοινωνίας</h1>
        <p class="text-large text-black ">Email: themispower@gmail.com</p>
        <p class="text-large text-black ">Τηλέφωνο: 6986719272</p>
      </div>
    </div>
    <img src="/themes/custom/gg/images/contact.jpg" alt="">
  </div>
</div>